{% extends 'base.html' %}

{% block content %} <br>
<div class="card text-center">
    <div class="card-header">
        Info sur le stage de recuperation de point
    </div>
    <div class="card-body">
        <h5 class="card-title">Oupssss desolé on n'a pas eu assez de temps pour implementé cette fonctionnalité</h5>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
     On n'est vraiment desolé
    </div>
</div>

{% endblock content %}